{% extends 'base.html' %}
<!-- BLOCK CONTENT -->
{% block content %}
<section id="login">
	<div class="container py-3">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="card">
					<div class="card-header">
						<h4>Account Login</h4>
					</div>
					<div class="card-body">
						<form method="POST">
							{{form.hidden_tag()}}
							<div class="form-group">
								{{form.username.label}}
								<!-- ERROR FOR iNVALiD USERNAME -->
								{% if form.username.errors %} {{
								form.username(class="form-control
								form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.username.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
								{% else %}
								{{form.username(class="form-control")}} {% endif
								%}
							</div>
							<div class="form-group">
								{{form.password.label}}
								<!-- ERROR FOR iNVALiD USERNAME -->
								{% if form.password.errors %} {{
								form.password(class="form-control
								form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
								{% else %}
								{{form.password(class="form-control")}} {% endif
								%}
							</div>
							{{form.submit(class="btn btn-outline-success",
							style="width: 100%")}}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
