body {
	overflow: none;
	scroll-behavior: smooth;
}

.navbar .nav-link {
	font-size: 14px;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.navbar .nav-item.active {
	border-left: #444 3px solid;
}

.carousel-item {
	height: 300px;
}
